@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

/* @font-face {
  font-family: "ReadexPro-Bold";
  src: url("./Fonts/ReadexPro-bold.ttf");
}

@font-face {
  font-family: "ReadexPro-Light";
  src: url("./Fonts/ReadexPro-Light.ttf");
}

@font-face {
  font-family: "ReadexPro-Medium";  
  src: url("./Fonts/ReadexPro-Medium.ttf");
} */